---
layout: default
---
<div class="page">
  <div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-8">
          {{ content }}
        </div>
        <div class="col-md-4">
            <h3 class="title with-icon"><span class="cat-title"><i class="fa fa-twitter"></i></span>Tweets</h3>
            <div class="side-pushdown">
            </div>
            <a class="twitter-timeline" data-height="2000" data-theme="light" href="https://twitter.com/CodeMoose">Tweets by CodeMoose</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
  </div>
</div>
